{% extends "blog/base/base.html" %}

{% block content %}
<article>
    <div class="text-cyan-300"><a href="{% url 'blog_index' %}" >Back to articles</a></div>
        <div class="bg-white/10 border-1 border-white/10 h-full rounded-[2.5rem] shadow overflow-hidden">
            <div class="bg-red-400 overflow-hidden h-100 w-full">
                <img class="object-cover h-100 w-full" src="{{ blog.image.url }}" alt="img">
            </div>
            <div class="flex flex-col gap-4 p-10 text-white">
                <div class="flex justify-between">
                    <div class="bg-cyan-300/10 px-3 py-1 text-cyan-200 text-sm text-semibold rounded-full">{{ blog.created_at|date:"M d, Y" }}</div>
                    <div class="bg-gray-300/10 px-3 py-1 text-sm font-semibold rounded-full">{{ blog.number_of_views }} views</div>
                </div>
                <div class="w-9/10 text-4xl font-semibold">{{ blog.title }}</div>
                <p class="text-slate-300 text-base/8">{{ blog.content}}</p>
            </div>
            <div class="m-10 bg-slate-900 flex flex-row justify-between gap-4 p-6 text-slate-300 text-base/8 rounded-full">
                <p class="text-white text-bold">Author: <slang class="text-slate-300 text-base/8">Meridian editorial Team</slang></p>
                <p>Comments</p>
                <p>Share</p>
            </div>
        </div>
    </div>
</article>
{% endblock %}

